BUILD
aclocal.m4
acout.in
autom4te.cache

configure
configure.ac
doc.lst
install.lst
monetdb_config.h.in
Makefile.am
Makefile.am~
Makefile.msc
Makefile.in
buildtools/autogen/autogen/*.pyc
buildtools/conf/compile
buildtools/conf/config.guess
buildtools/conf/config.sub
buildtools/conf/install-sh
buildtools/conf/libtool.m4
buildtools/conf/ltmain.sh
buildtools/conf/ltoptions.m4
buildtools/conf/ltsugar.m4
buildtools/conf/ltversion.m4
buildtools/conf/*obsolete.m4
buildtools/conf/missing

sql/backends/monet5/UDF/capi/cheader.text.h
